/* Dash dcc.Dropdown (react-select v1) layout fixes */

.Select-control {
  min-height: 38px;
  height: 38px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 36px;
}

.Select-input {
  height: 36px;
}

.Select-input > input {
  line-height: 1.2;
  padding-top: 0;
  padding-bottom: 0;
}

.Select-menu-outer {
  z-index: 3000;
}
