/* Dash dcc.Dropdown (react-select v1) layout fixes */

.Select-control {
  min-height: 38px;
  height: 38px;
}

.Select {
  position: relative;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 36px;
}

.Select-input {
  height: 36px;
  position: relative;
  z-index: 2;
}

.Select-input > input {
  line-height: 1.2;
  padding-top: 0;
  padding-bottom: 0;
}

.Select-menu-outer {
  top: 100%;
  margin-top: 2px;
  max-height: 260px;
  z-index: 3000;
}

.Select-menu {
  max-height: 260px;
}

.VirtualizedSelectOption,
.Select-option {
  min-height: 34px;
  line-height: 34px;
}
